<?xml version="1.0" encoding="UTF-8"?>
<suite name="Swag Labs Test Suite">
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Inventory Tests">
        <classes>
            <class name="tests.InventoryTest"/>
        </classes>
    </test>
</suite>